body {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(210,176,233);
    background: radial-gradient(circle, rgba(210,176,233,1) 0%, rgba(245,192,192,1) 50%, rgba(138,229,235,1) 100%);
}

.calculator {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

form input {
    border: none;
    outline: 0;
    width: 60px;
    height: 60px;
    font-size: 16px;
    background-color: rgb(91, 91, 151);
    margin: 2px;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

form input[type="button"]:hover {
    background-color: rgb(137, 22, 245);
}



